/* @import url(http://fonts.googleapis.com/css?family=Alex+Brush); */

@font-face {
  font-family: 'Alex Brush';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Alex_Brush/AlexBrush-Regular.ttf) format('woff');
}

/*@import url(http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700);*/

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cantarell/Cantarell-Regular.ttf) format('woff');
}

@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Cantarell/Cantarell-Bold.ttf) format('woff');
}

@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Cantarell/Cantarell-Oblique.ttf) format('woff');
}

@font-face {
  font-family: 'Cantarell';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Cantarel;/Cantarell-BoldOblique.ttf) format('woff');
}

@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Fjalla_One/FjallaOne-Regular.ttf) format('woff');
}


/* separating in colours and sizing etc so I can build themes more modularly (I hope) */
body {
	background: #111;
	color: #fff;
}

a {
	color: red;
	text-decoration: none;
}

.reveal .digit, .accent {
	color: red;
}

.prefixed {
	color: #666;
}

.reveal strong {
	color: #f00;
}

.reveal blockquote {
	color: #fff;
}

/* sizing, typography */
html {
	font-size: 2rem;
}

body {
	font-family: 'Cantarell', serif;
}

.reveal .twitter {
	position: absolute;
	top: 0.2rem;
	right: 0.2rem;
	z-index: 1000;
	font-size: 0.8rem;
	opacity: 0.75;
}

.reveal .slides {
	text-align: left;
}

.reveal > .slides > section {
}

.reveal h1, .reveal h2, .reveal h3 {
	font-weight: normal;
}

.reveal h1 {
	font-family: 'Fjalla One';
	font-size: 4rem;
	margin-bottom: 1rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.reveal h2 {
	font-size: 1.5rem;
	font-family: 'Cantarell', sans-serif;
	text-transform: uppercase;
	letter-spacing: -1px;
	margin: 1rem 0;
	font-weight: 700;
}

.reveal h3 {
	font-family: 'Cantarell', sans-serif;
	letter-spacing: -1px;
	font-weight: 700;
	margin: 1rem 0 1rem 0;
	font-size: 1rem;
	text-transform: uppercase;
}

.reveal p {
	margin-bottom: 1rem;
}

.reveal .dark h2, .reveal .dark h3, .reveal .dark p {
	background: rgba(0, 0, 0, 0.5);
	padding: 3px;
}

.reveal ul {
	margin: 1rem 0;
}

.reveal ol, .reveal ul {
	list-style-position: inside;
	line-height: 1.3rem;
}

.reveal ul li:before {
	font-size: 1rem;
}

.reveal blockquote {
	font-family: 'Alex Brush', cursive;
	font-weight: 400;
	font-size: 3rem;
	line-height: 2rem;
}

.reveal blockquote:before, .reveal blockquote:after {
	font-size: 4rem;
	line-height: 2rem;
}

.reveal blockquote:before {
	content: open-quote;
}

.reveal blockquote:after {
	content: close-quote;
	margin-left: 0.5rem;
}
.reveal q { quotes: '“' '”' 'k' 'g' }
.reveal q:before {
	content: open-quote;
}

.reveal q:after {
	content: close-quote;
}

.reveal pre {
	text-align: left;
	margin: 1rem 0;
}

.reveal pre code {
	font-family: monospace;
	font-size: 0.9rem;
	padding: 1rem;
	margin: 1rem 0;
	width: auto;
}

.reveal tt {
	font-family: monospace;
	font-weight: normal;
	text-transform: none;
}

.reveal .digit {
	float: left;
	font-size: 8.5rem;
	line-height: 8.5rem;
	padding-right: 1rem;
}

.screenshot {
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.reveal .box {
	display: inline-box;
	border: 1px solid white;
	padding: 0.25rem;
}

.reveal .arrow {
	padding: 0.25rem;
}

.reveal .fakephone {
	display: inline-flex;
}

.reveal .fakephone:after {
	content: ")))))";
	display: inline-block;
	float: none;
	line-height: 600px;
	font-size: 200px;
	padding-left: 1rem;
}

.reveal .fakephone img {
	border: 20px solid #666;
	border-bottom-width: 40px;
	border-radius: 20px;
	height: 600px;
	width: auto;
}


